app/src/main/assets/models/qwen-vl-2b-instruct-mnn/*.weight filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/asr/sherpa-onnx-sense-voice-zh-en-ja-ko-yue-int8-2024-07-17/model.int8.onnx filter=lfs diff=lfs merge=lfs -text
artifacts/releases/2026-06-07/*.part-* filter=lfs diff=lfs merge=lfs -text
